body {
	background-color: #fff;
}

.headshot {
	border-radius: 100%;
}

.header {
	font-family: 'Roboto';
	color: #444;
}

.section-title {
	text-transform: uppercase;
	color: #444;
}

.container {
	font-family: 'Roboto';
	color: #444;
}

/* =======Image Flipping=========== */
.flip-container {
	perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 320px;
	height: 380px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 1;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.contactdetails {
	align-content: center;
}